h2{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 60%;
    left: 12%;
    top: 10%;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color: rgb(25, 16, 84);
}
body{
    background: #F3F5FC;
}
p{
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 77%;
}

.input1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 42%;
    left: 12%;
    top: 25%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    font-family: Inter;
    background: #F3F5FC;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}
.bEnc{
    width: 25%;
    height: 67px;
    padding: 24px 0;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #0A3871;
    border:none;
    border-radius: 24px;
    transition: 1s all;
}
.bEnc:hover{
    cursor: pointer;
    background: #6580ef;
}
.bDes{
    width: 25%;
    height: 67px;
    padding: 24px 0;
    gap: 8px;
    margin-left: 24px;
    font-size: 18px;
    font-weight: bold;
    color:#0A3871;
    background: #D8DFE8;
    border: 2px solid #0A3871;
    border-radius: 24px;
    transition: 1s all;
}
.bDes:hover{
    cursor: pointer;
    background: #b5b2b2;
}
.resultado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.resultado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
h3{
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 80%;
    height: 67px;
    top: 67%;   
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.textOutput{
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 80%;
    height: 67px;
    top: 74%;
    text-align: center;
}
.bCopy
{
    position: absolute;
    width: 80%;
    height: 67px;
    top: 85%;
    padding: 24px 0;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    background: rgb(1, 63, 198);
    border:2px solid #0A3871;
    border-radius: 24px;
    transition: 1s all;
}
.bCopy:hover{
    cursor: pointer;
    background: #0277ec;
}
footer{
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 25%;
    top: 95%;
}


@media screen and (min-width:0){
    .input1 h2 {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
}

@media screen and (min-width:768px){
    .input1 h2{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
}

@media screen and (min-width:992px){
    .input1 h2{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
}
